body {
  max-width: 40em;
  margin: 0 auto;
  padding: 5px;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 1.6em;
}

h1,
h2,
h3 {
  font-family: sans-serif;
  font-weight: bold;
}

h6 {
  font-weight: 400;
}

.footer-links {
  list-style: none;
  /* Remove default list styling */
  margin: 0;
  /* Remove default margin */
  padding: 0;
  /* Remove default padding */
}

.footer-links li {
  display: inline-block;
  /* Display links in a row */
  margin-right: 20px;
  /* Add some space between the links */
}


/* Hover effect for links */
.footer-links li a:hover {
  color: #007BFF;
  /* Change color on hover */
}