@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');


body {
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 1.4em;
  background-color: #EEEEEE;
}

hr {
  height: 1px;
  border: none;
  background-color: #333;
  /* Change to your desired color */
}

h1,
h2,
h3 {
  font-family: 'JetBrains Mono', monospace;
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 0px;
}


h6 {
  font-weight: 400;
}

/* Using the full border property */
.border-element {
  border: 1px solid black;
  padding: 2px 8px 2px 8px;
  margin: 0px;
}

.bg-color-grey {
  background: #EEEEEE;
}

.container {
  background-color: white;
  max-width: 48em;
  border: 1px solid black;
  margin: 0 auto;
  padding: 16px;
  box-shadow: 2px 4px rgba(0, 0, 0, 0.2);
}

.footer-links {
  list-style: none;
  /* Remove default list styling */
  margin: 0;
  /* Remove default margin */
  padding: 0;
  /* Remove default padding */
}

.footer-links li {
  display: inline-block;
  /* Display links in a row */
  margin-right: 20px;
  /* Add some space between the links */
}


/* Hover effect for links */
.footer-links li a:hover {
  color: #007BFF;
  /* Change color on hover */
}